<div class="card text-center p-0 m-5">
    <div class="card-header transform" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
        aria-controls="collapseExample">
        {{title}}
        <br>
        {{due_date}}
    </div>
    <div class="card-body collapse" id="collapseExample">
        <p class="card-text">
        <ul class="task-list">
            {{!-- figure out what this is going to be called --}}
            {{#each task}}
            <li>
                {{!-- figure out what this is called --}}
                {{>task task}}
            </li>
            {{/each}}
        </ul>
        </p>
        <div class="card-footer text-muted">
            <p id="markCompleteBtn"><i class="fas fa-check"></i>mark complete</p>
        </div>
    </div>
</div>