{{!-- MAKE A CARD FOR EACH HOMEWORK FROM THE DATABASE --}}
<ol class="homework-list">
    {{!-- figure out what this is going to be called --}}
    {{#each homework}}
    <li>
        {{!-- figure out what this is called --}}
        {{>homework homework}}
    </li>
    {{/each}}
</ol>