<h2 class="text-center m-5">
    Hi there!
    <br>
    Log in or sign up to get started!
</h2>

<div class="container">
    <div class="row justify-content-around">
        <form class="col-5 p-2 border border-secondary border-3 form login-form text-center">
            <h3 class="text-center">Log in:</h3>

            <div class="">
                <label class="" for="email-login">email:</label>
                <br>
                <input class="mb-4" type="text" id="email-login" />
            </div>
            <div class="">
                <label class="" for="password-login">password:</label>
                <br>
                <input class="mb-4" type="password" id="password-login" />
            </div>
            <div class="">
                <button class=" m-2 btn btn-warning" type="submit">login</button>
            </div>
        </form>

        <form class="col-5 p-2 border border-secondary border-3 form signup-form text-center">
            <h3 class="text-center">Sign Up:</h3>

            <div class="">
                <label class="" for="username-signup">username:</label>
                <br>
                <input class="mb-4" type="text" id="username-signup" />
            </div>
            <div class="">
                <label class="" for="email-signup">email:</label>
                <br>
                <input class="mb-4" type="text" id="email-signup" />
            </div>
            <div class="">
                <label class="" for="password-signup">password:</label>
                <br>
                <input class="mb-4" type="password" id="password-signup" />
            </div>
            <div class="">
                <button class=" m-2 btn btn-warning" type="submit">login</button>
            </div>
        </form>

    </div>
</div>