/* @import "./datepicker.min.css"; */
.appHeader {
  padding: 15px;
  background-image: url("../background-image.png");
  background-size: cover;
  font-size: 45px;
  color: rgb(58, 58, 58);
}

#nav-brand-text {
  font-size: 35px;
}

i {
  padding-right: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.transform {
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(70, 70, 70);
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #f6d365 0%,
    #ff724b 51%,
    #f6d365 100%
  );
}

.transform:hover {
  background-position: right center;
  color: black;
  font-weight: bold;
}

.form {
  border: rgb(92, 92, 92);
}
